.titulo.principal{
	
	background-color: rgba(0, 255, 30, 0.3);
	color: rgba(0, 0, 0, 1.0);
	font-size: 55px;
}

.titulo{
	font-family: helvetica;
	font-size: 40px;
	text-align: center;
}

.img{
	border-radius: 50px;
	width:400px;
	height:250px;
}

div{
	text-align: center;
}

li{
	font-weight: bold;
}

p{
	font-size: 20px;
}