.titulo{
	background-color: rgba(255, 100, 0, 0.5);
	text-align: center;
	color: white;
	font-size: 55px;
}

.img{
	border-radius: 100px;
	height: 500px;
	width: 700px;
}

div {
	text-align: center;
	border-radius: 50%;
}

button{
	font-family: helvetica;
	font-size: 30px;
	background-color: rgba(255, 0, 150, 0.3);
	font-weight: 500;
}

